In [5]:
import sqlite3
import pandas as pd

# 1. Create a connection to the database file
# Make sure 'loan_data.db' is in the same folder as your notebook
conn = sqlite3.connect('loan_data.db')

# 2. Write your SQL query
query = "SELECT * FROM loans"

# 3. Load into a DataFrame
df = pd.read_sql(query, conn)

# 4. Close the connection (Good practice!)
conn.close()

# 5. View the data
df.head()

,car_make,car_value,car_age_months,car_mileage,finance_amount,flat_rate_percent,term_months,term_years,total_interest,total_amount_payable,monthly_repayment,loan_id
0,Honda Civic,28500.0,1.0,50,25000.0,4.2,60,5.0,5250.0,30250.0,504.17,LOAN-251129-8332
1,BMW 3 Series,45000.0,24.0,25000,38000.0,6.8,72,6.0,15504.0,53504.0,743.11,LOAN-251129-0249
2,Tesla Model 3,42000.0,3.0,1200,39000.0,3.9,84,7.0,10647.0,49647.0,591.04,LOAN-251129-9934
3,Ford Explorer,32000.0,36.0,45000,26000.0,7.5,60,5.0,9750.0,35750.0,595.83,LOAN-251129-5086
4,Porsche 911,75000.0,72.0,60000,50000.0,9.2,48,4.0,18400.0,68400.0,1425.00,LOAN-251129-9394